body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.logo {
  margin: 0;
  margin-left: 12rem;
}
.header {
  background-color: hsla(224, 84%, 14%, 1);
  height: 630px;
}
.header-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.text {
  color: white;
  line-height: 1.9;
  letter-spacing: 4px;
  max-width: 400px;
  margin: 3rem;
  margin-top: 100px;
  padding: 30px;
  text-align: left;
}
.text-edit h1 {
  font-size: 2rem;
  width: 450px;
}
.text-edit p {
  font-size: 14px;
  color: hsl(0, 0%, 80%);
  width: 450px;
}
.buttons {
  margin-top: 60px;
  display: flex;
  gap: 10px;
}
.explore-btn {
  color: white;
  background-color: hsl(240, 63%, 44%);
  padding: 13px;
  border-radius: 5px;
  border: none;
  width: 150px;
  cursor: pointer;
}
.explore-btn:hover {
  background-color: hsl(240, 66%, 50%);
}
.contact-btn {
  color: white;
  background-color: transparent;
  padding: 13px;
  width: 150px;
  border: 0.5px solid hsl(0, 0%, 60%);
  border-radius: 5px;
  cursor: pointer;
}
.contact-btn:hover {
  font-size: 14px;
}
.planet-img {
  height: auto;
  width: 650px;
}

/* mobile view */
@media (max-width: 768px) {
  .logo {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .header-container {
    flex-direction: column-reverse;
  }

  .image {
    display: flex;
    justify-content: center;
  }
  .planet-img {
    height: 300px;
    width: 300px;
  }
  .text {
    color: white;
    line-height: 1.2;
    letter-spacing: 3px;
    margin: 0 auto;
    text-align: center;
  }

  .text-edit h1 {
    font-size: 18px;
    max-width: 300px;
    line-height: 1.6;
  }
  .text-edit p {
    font-size: 14px;
    color: hsl(0, 0%, 80%);
    max-width: 300px;
  }
  .buttons {
    margin-top: 20px;
    display: flex;
    gap: 13px;
  }
}
