.VideoSection {
    display: flex;
    background-color: white;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

.video video {
    border-radius: 20px;
    width: 100%;
    max-width: 700px;
    height: auto;
   flex: 1;

}

.words {
    padding: 70px;
    text-align: center;
    flex: 1;
    max-width: fit-content;
}

.words h2 {
    color: rgb(39, 97, 203);
    width: 100%;
    font-size: 2.5rem;
}

.words span{
    display: block;
    margin-bottom: 20px;
    word-spacing: 0.1em;
}

.words p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    word-spacing: 0.1em;
}

.words p strong {
    color: rgb(39, 97, 203);
    font-weight: 600;
}

/* For Mobile */

@media (max-width: 768px) {
    .VideoSection {
        flex-direction: column-reverse;
        text-align: center;
        padding: 20px;
    }

    .video video {
        max-width: 100%;
    }


    .words {
        max-width: fit-content;
    }
    .words h2 {
        font-size: 1.8rem;
    }

    .words p {
        font-size: 1rem;
    }
}